* {
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #25a9e0;
	--secondary-color: #053266;
	--black-color: #292828;
	--white-color: #fff;
	--warning-color: #ecb768;
	--warning-secondary-color: #dea857;
	--danger-color: #f35d5d;
	--danger-secondary-color: #d84545;
	--primary-box-shadow: 0 0 20px 0px rgba(0, 0, 0, .08);
}

body {
	background: url(../img/pattern.jpg);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Halvetica Neue', sans-serif;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.3;
	overflow-x: hidden;
}

a {
	color: var(--black-color);
	font-weight: 600;
	text-decoration: none;
}

.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}

.navbar nav {
	display: flex;
	background-color: var(--white-color);
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	box-shadow: var(--primary-box-shadow);
}

.navbar nav ul {
	display: flex;
	list-style: none;
	width: auto;
	justify-content: space-around;
	gap: 40px;
}

.navbar ul li a {
	font-size: 0.8em;
	text-decoration: none;
}

.navbar .logo img {
	width: 200px;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px auto;
	max-width: 780px;
	padding: 40px;
	justify-content: center;
}

.card {
	flex: 70%;
	padding: 35px;
	border-radius: 10px;
	background: var(--white-color);
	box-shadow: var(--primary-box-shadow);
	margin: 25px auto;
	line-height: 1.8;
}

.card.self {
	min-width: 740px;
	line-height: 1.8;
}


.card ul, .card.self ul { list-style: none; }

.card h3, .card.self h3 {
	margin: 10px 0 20px;
}

.card p {
	font-size: 18px;
	line-height: 1.5;
}

.card.self.with-thumb {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card img {
	float: left;
	width: 280px;
	height: 240px;
	object-fit: cover;
	padding: 0 20px 10px 0;
}

.card-body {
	display: block;
}
.card-body p { 
	font-size: 14px;
	text-align: justify;
}

.list-detail {
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-size: 11px;
	font-weight: 700;
	margin: 0 0 20px 0;
}
.list-detail li {
	background-color: var(--primary-color);
	border-radius: 50px;
	padding: 3px 10px;
	color: var(--white-color);
}

.text-center { text-align: center; }

form {
	font-size: 16px;
}

form input[type=text],
form input[type=password],
input {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 7px 14px;
	min-width: 210px;
	height: 14px;
}

form textarea {
	border: 1px solid #ddd;
	border-radius: 3px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Halvetica Neue', sans-serif;
	padding: 7px 14px;
	min-width: 210px;
}

.form-group-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0;
}
.form-group-flex label { flex-grow: 2; }
.form-group-flex input,
.form-group-flex textarea {
	flex-grow: 1;
}

.btn {
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 10px;
	min-width: 90px;
	outline: none;
	transition: all .3s ease;
}
.btn-primary {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
.btn-primary:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}
.btn.btn-sm {
	font-size: 12px;
	padding: 3px 6px;
	min-width: 50px;
}
.btn-edit {
	background-color: var(--warning-color);
	border: 1px solid var(--warning-color);
}
.btn-edit:hover {
	background-color: var(--warning-secondary-color);
	border: 1px solid var(--warning-secondary-color);
}
.btn-delete {
	background-color: var(--danger-color);
	border: 1px solid var(--danger-color);
}
.btn-delete:hover {
	background-color: var(--danger-secondary-color);
	border: 1px solid var(--danger-secondary-color);
}

/* Responsive Area */
@media screen and (max-width: 768px) {
	.navbar nav ul {
		font-size: 16px;
		width: 50%;
	}

}

@media screen and (max-width: 564px) {
	.logo img { 
		width: 140px !important;
	}
	
	.card.self {
		min-width: 74vw;
	}

	form { max-width: 300px; }
	form input[type=text],
	form input[type=email],
	form textarea { min-width: 180px; }

	form textarea { max-width: 180px; }
}


table.with-border {
  width: 800px;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	font-size: 14px;
	z-index: 1;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}
table.with-border th,
table.with-border td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
}
table.with-border th,
table.with-border td { border: 1px solid #eee; }
th {
	color: var(--white-color);
  text-align: left;
}
table.with-border thead th {
  background-color: var(--primary-color);
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
	position: relative;
	color: var(--black-color);
	vertical-align: top;
}